@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'rejouice headline';
}

html,body{
    height: 100%;
    width: 100%;
}

#cursur{
    content: '';
    height: 7vw;
    width: 7vw;
    background-color: rgb(254, 99, 43);
    border-radius: 50%;
    z-index: 9;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

#cursur h4{
    font-size: 1vw;
    font-weight: 200;
}

#nav2{
    background-color: #FF5F38;
    width: 100%;
    height: 60vmin;
    position: absolute;
    z-index: 8;
    transform: translateY(-100vh);
}

#nav2-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    height: 100%;
    width: 50%;
    padding: 3vw;
}

.nav-left h3{
    font-size: 2vw;
    font-weight: 100;
    color: black;
}

.navleft-video{
    width: 47vh;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.navleft-video video{
    width: 100%;
    height: 100%;
}

.nav-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navright1{
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin-top: 5vh;
    position: relative;
}

.text-div{
    width: 100%;
    display: flex;
    height: 7.5vh;
    flex-direction: column;
    overflow: hidden;
}

.text-div:hover a{
    border-bottom: 1px solid black;
}
.navright1 a{
    text-decoration: none;
    color: black;
    font-size: 3.6vw;
}

.navright1 button{
    width: 30%;
    padding: 2vh;
    margin-top: 2vh;
    font-size: 1.1vw;
    background-color: transparent;
    border-radius: 10px;
}

.navright2{
    position: absolute;
    top: 10%;
    right: 1%;

}

.navright2 a{
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
    font-weight: 100;
}

#hr2{
    margin-top:2vh;
}

#nav2-lower{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 2vh 5vw;
}

#nav2-lower h3{
    color: black;
    font-weight: 200;
}

.nav2lower{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.nav2lower a{
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    font-weight: 200;
}

#page1{
    height: 100vmin;
    width: 100%;
    position: relative;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#page1-content{
    height: 100vmin;
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

#page1-content h1{
    font-size: 27vw;
    line-height: 50vmin;
    font-weight: 400;
}

#page1-content h1 span{
    display: inline-block;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vmin 2.5vmin;
}

nav h3{
    font-size: 1.4vw;
    font-weight: 400;   
}

nav h4{
    font-size: 1.4vw;
    font-weight: 400;   
}


#page2{
    width: 100%;
    height: 100vmin;
    z-index: 99;
    background-color: #FAF8F3;
}

#page2-head{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 7vmin 3vmin;
}

#page2-head h2{
    font-size: 1.7vw;
    font-weight: 300;
}

#page2-para{
    width: 100%;
    margin-left: 5%;
    line-height: 1,05;
    margin-top: 3vmin;
}

#page2-para h1{
    font-size: 4.1vw;
    font-weight: 300;
}

.elem{
    overflow: hidden;
}

#page2-para .elem:nth-child(1){
    margin-left: 10%;
}

hr{
    width: 93%;
    margin-top: -1vmin;
    margin-left: 3.5%;
}

#page3{
    min-height: 100vmin;
    width: 100%;
    position: relative;
    padding: 3vmin;
    background-color: #FAF8F3;
}

#page3-top{
    margin-top: 19vmin;
    text-align: center;
}

.elem3{
    overflow: hidden;
}

#page3-top h4{
    margin-bottom: 1vmin;
    font-size: 1.2vw;
    font-weight: 100;
}

#page3-top h4 span{
    font-size: 0.7vw;
    background-color: black;
    color: white;
    padding: 0.5vw;
    border-radius: 100px;
}

#page3-top h2{
    font-size: 4.2vw;
    font-weight: 400;
}

.elem-anim{
    position: relative;
}

.elem-anim:after{
    content: '';
    position: absolute;
    width: 40%;
    margin-left: 30%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:black;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.elem-anim:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

#page3-elements{
    height: 80vmin;
    /* width: 100%;background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vw;
}

#page3-elements .box{
    height: 100%;
    width: 32.5%;
    /* background-color: blue; */
    position: relative;
}

#page3-elements .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center ;
}

#page3-elements .box img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all linear 0.7s;
}

#page3-elements .box:hover img{
    opacity: 0;
}

#page3-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12vmin;
}

#page3-center h1{
    font-size: 1.6vw;
    font-weight: 100;
}

#page4{
    width: 100%;
    height: 100vmin;
    z-index: 99;
    background-color: #FAF8F3;
}

#page4-head{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 7vmin 3vmin;
}

#page4-head h2{
    font-size: 1.7vw;
    font-weight: 300;
}

#page4-para{
    width: 100%;
    margin-left: 5%;
    line-height: 1,05;
    margin-top: 3vmin;
}

#page4-para h1{
    font-size: 4.1vw;
    font-weight: 200;
}

.elem2{
    overflow: hidden;
}

#page4-para .elem:nth-child(1){
    margin-left: 10%;
}

#page5{
    height: 100vmin;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #FAF8F3;
}

#page5 video{
    height: 100%;
}

#page5 svg{
    position: absolute;
    height: 65%;
}

#crsr{
    content: '';
    height: 7vw;
    width: 7vw;
    background-color: black;
    border-radius: 50%;
    z-index: 9;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

#crsr h4{
    font-size: 1vw;
    font-weight: 200;
    color: white;
}

#page6{
    width: 100%;
    height: 100vmin;
    background-color: #FAF8F3;
    padding: 4vmin 0;
    position: relative;
}

#page6 h1{
    font-size: 10vw;
    font-weight: 300;
    border-bottom: 1px solid black;
    width: 96%;
    margin-left: 2%;
}

#swiperdiv{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    margin-top: -4%;
}

.swiper {
    width: 130%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .swiper-slide img {
    display: block;
    width: 19%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  #loader{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 99;
    display: flex;
    align-items: center;justify-content: center;
    color: white;
    gap: 1vw;
  }

  #loader h3{
    font-size: 2vw;
  }

  #page7{
    width: 100vw;
    height: 100vmin;
    z-index: 99;
    background-color: #FAF8F3;
}

#page7-head{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 7vmin 3vmin;
}

#page7-head h2{
    font-size: 1.7vw;
    font-weight: 300;
}

#page7-para{
    width: 100%;
    margin-left: 5%;
    line-height: 1,05;
    margin-top: 3vmin;
}

#page7-para h1{
    font-size: 4.1vw;
    font-weight: 200;
}

.elem7{
    overflow: hidden;
}

#page7-para .elem:nth-child(1){
    margin-left: 10%;
}

#page8{
    height: 50vmin;
    width: 100%;
    background-color: #FAF8F3;
}
.elem8{
    overflow: hidden;
}

#page8-top h4{
    margin-bottom: 1vmin;
    font-size: 1.2vw;
    font-weight: 100;
    text-align: center;
}

#page8-top h2{
    font-size: 4.2vw;
    font-weight: 400;
    text-align: center;
}

#footer{
    height: 100vmin;
    width: 100%;
    background-color:#0E0E0E;
    position: relative;
}

.footer-top{
    height: 45%;
    display: flex;
    justify-content: space-between;
    padding: 2vw 3vw;
}
.footer-top-right{
    width: 78%;
    height: 100%;
}
.footer-top-right h3{
    color: #FAF8F3;
    font-size: 2vw;
    font-weight: 200;
}

.footer-top-right button{
    padding: 1vw;
    background-color: transparent;
    color: #FAF8F3;
    border: 1.5px solid #FAF8F3;
    font-size: 1.2vw;
    border-radius: 10px;
    margin-top: 3vh;
}

.footer-top-left{
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-top-left1{
    display: flex;
    flex-direction: column;
}

.footer-top-left1 a{
    text-decoration: none;
    color: #FAF8F3;
    font-size: 1.1vw;
    font-weight: 100;
}


.footer-center{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2vw 3vw;
    margin-bottom: 7vh;
}
.footer-center-left{
    width: 78%;
    height: 100%;
}
.footer-center-left h3{
    color: #FAF8F3;
    font-size: 1.2vw;
    font-weight: 100;
}

.footer-center-right{
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-center-right1{
    display: flex;
    flex-direction: column;
}

.footer-center-right1 a{
    text-decoration: none;
    color: #FAF8F3;
    font-size: 1.1vw;
}

.footer-bottom{
    display: flex;
    width: 100%;
    height: 35vh;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.footer-bottom h1{
    color: #FAF8F3;
    font-size: 28vw;
    font-weight: 200;
}

@media (max-width:600px) {

    
    html,body{
        height: 100%;
        width: 100%;
    }
    
    #cursur{
        content: '';
        height: 7vw;
        width: 7vw;
        background-color: rgb(254, 99, 43);
        border-radius: 50%;
        z-index: 9;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%);
    }
    
    #cursur h4{
        font-size: 1vw;
        font-weight: 200;
    }
    
    #page1{
        height: 100vmax;
        width: 100%;
        position: relative;
    }
    
    #page1 video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }
    
    #page1-content{
        height: 100vh;
        position: relative;
        z-index: 2;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
    }
    
    #page1-content h1{
        font-size: 28vw;
        line-height: 50vmin;
        font-weight: 400;
    }
    
    #page1-content h1 span{
        display: inline-block;
    }
    
    nav{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4vmin 2.5vmin;
    }
    
    nav h3{
        font-size: 5.4vw;
        font-weight: 400;   
    }
    
    nav h4{
        font-size: 4.8vw;
        font-weight: 400;  
        border: 1px solid white;
        border-radius: 20px;
        padding: 2vw; 
    }
    
    
    #page2{
        width: 100%;
        height: 100vmin;
        z-index: 99;
        background-color: #FAF8F3;
    }
    
    #page2-head{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 3vh 3vh;
    }
    
    #page2-head h2{
        font-size: 3vw;
        font-weight: 300;
    }
    
    #page2-para{
        width: 100%;
        margin-left: 5%;

    }
    
    #page2-para h1{
        font-size: 5.5vw;
        font-weight: 300;
    }
    
    .elem{
        overflow: hidden;
    }
    
    #page2-para .elem:nth-child(1){
        margin-left: 0%;
    }
    
    hr{
        width: 93%;
        margin-top: -1vmin;
        margin-left: 3.5%;
    }
    
    #page3{
        min-height: 100vmin;
        width: 100%;
        position: relative;
        padding: 3vmin;
        background-color: #FAF8F3;
    }
    
    #page3-top{
        margin-top: 19vmin;
        text-align: center;
    }
    
    #page3-top h4{
        margin-bottom: 1vmin;
        font-size: 5.2vw;
        font-weight: 100;
    }
    
    #page3-top h4 span{
        font-size: 3vw;
        background-color: black;
        color: white;
        padding: 1vw;
        border-radius: 100px;
    }
    
    #page3-top h2{
        font-size: 12.2vw;
        font-weight: 400;
        margin-bottom: 0.5vh;
    }
    
    .underline{
        background-color: black;
        height: 3px;
        width: 45%;
        margin-left: 27.5%;
    }
    
    #page3-elements{
        height: 80vmin;
         width: 100%;
        /*background-color: red; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1vw;
    }
    
    #page3-elements .box{
        height: 100%;
        width: 32.5%;
        /* background-color: blue; */
        position: relative;
    }
    
    #page3-elements .box video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center ;
    }
    
    #page3-elements .box img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all linear 0.7s;
    }
    
    #page3-elements .box:hover img{
        opacity: 0;
    }
    
    #page3-center{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12vmin;
    }
    
    #page3-center h1{
        font-size: 1.6vw;
        font-weight: 100;
    }
    
    #page4{
        width: 100%;
        height: 100vmin;
        z-index: 99;
        background-color: #FAF8F3;
    }
    
    #page4-head{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 3vh 3vh;
    }
    
    #page4-head h2{
        font-size: 4vw;
        font-weight: 300;
    }
    
    #page4-para{
        width: 100%;
        margin-left: 5%;

    }
    
    #page4-para h1{
        font-size: 6vw;
        font-weight: 300;
    }
    #page4-para .elem:nth-child(1){
        margin-left: 0%;
    }
    
    #page5{
        height: 100vmin;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;    
        background-color: #FAF8F3;
    }
    
    #page5 video{
        height: 100%;
    }
    
    #page5 svg{
        position: absolute;
        height: 65%;
    }
    
    #crsr{
        content: '';
        height: 7vw;
        width: 7vw;
        background-color: black;
        border-radius: 50%;
        z-index: 9;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%);
    }
    
    #crsr h4{
        font-size: 1vw;
        font-weight: 200;
        color: white;
    }
    
    #page6{
        width: 100%;
        height: 100vmin;
        background-color: #FAF8F3;
        padding: 4vmin 0;
        position: relative;
    }
    
    #page6 h1{
        font-size: 20vw;
        font-weight: 300;
        border-bottom: 1px solid black;
        width: 96%;
        margin-left: 2%;
    }
    
    #swiperdiv{
        height: 60vmin;
        width: 100%;
        /* background-color: red; */
        position: relative;
        margin-top: -4%;
    }
    
    .swiper {
        width: 130%;
        height: 100%;
      }
    
      .swiper-slide {
        text-align: center;
        background-color: transparent;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
      }
    
      .swiper-slide img {
        display: block;
        width: 19%;
        object-fit: cover;
      }
    
      .swiper {
        margin-left: auto;
        margin-right: auto;
      }
    
      #loader{
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        background-color: black;
        z-index: 99;
        display: flex;
        align-items: center;justify-content: center;
        color: white;
        gap: 1vw;
      }
    
      #loader h3{
        font-size: 5vw;
      }
    
      #page7{
        width: 100%;
        height: 120vmin;
        z-index: 99;
        background-color: #FAF8F3;
    }
    
    #page7-head{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 3vh 3vh;
    }
    
    #page7-head h2{
        font-size: 4vw;
        font-weight: 300;
    }
    
    #page7-para{
        width: 100%;
        margin-left: 5%;

    }
    
    #page7-para h1{
        font-size: 6vw;
        font-weight: 300;
    }
    #page7-para .elem:nth-child(1){
        margin-left: 0%;
    }
    #nav2{
        background-color: #FF5F38;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 8;
        transform: translateY(-100vh);
    }
    #nav2-upper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .nav-left{
        height: 100%;
        width: 100%;
        padding: 3vw;
    }
    
    .nav-left h3{
        font-size: 7vw;
        font-weight: 100;
        color: black;
    }
    
    .navleft-video{
        width: 47vmin;
        height: 30vmin;
        object-fit: cover;
        object-position: center;
        position: relative;
    }
    
    .navleft-video video{
        width: 100%;
        height: 100%;
        display: none;
    }
    
    .nav-right{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navright1{
        display: flex;
        flex-direction: column;
        line-height: 1;
        margin-top: 5vh;
    }
    .navright1 a{
        text-decoration: none;
        color: black;
        font-size: 11.6vw;
    }
    
    .navright1 button{
        width: 40%;
        padding: 2vh;
        margin-top: 2vh;
        font-size: 4.1vw;
        background-color: transparent;
        border-radius: 10px;
        display: none;
    }
    
    .navright2{
        position: absolute;
        top: 2%;
        right: 5%;
    
    }
    
    .navright2 a{
        text-decoration: none;
        font-size: 7.5vw;
        color: black;
        font-weight: 100;
    }
    
    #hr2{
        margin-top:2vh;
        display: none;
    }
    
    #nav2-lower{
        margin-top: 20vh;
        height: 15vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2vh 5vw;
    }
    
    #nav2-lower h3{
        color: black;
        font-weight: 200;
        font-size: 5vw;
        margin-bottom: 1vh;
    }
    
    .nav2lower{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .nav2lower a{
        text-decoration: none;
        color: black;
        font-size: 5.5vw;
        font-weight: 200;
    }
    
    #footer{
        height: 110%;
        width: 100%;
        background-color:#0E0E0E;
        position: relative;
    }
    
    .footer-top{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5vw 3vw;
    }
    .footer-top-right{
        width: 78%;
        height: 100%;
    }
    .footer-top-right h3{
        color: #FAF8F3;
        font-size: 8vw;
        font-weight: 200;
        margin-top: 1vh;
    }
    
    .footer-top-right button{
        padding: 2vw;
        background-color: transparent;
        color: #FAF8F3;
        border: 1.5px solid #FAF8F3;
        font-size: 4.4vw;
        border-radius: 100px;
        margin-top: 1vh;
    }
    
    .footer-top-left{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 5vh;
    }
    
    .footer-top-left1{
        display: flex;
        flex-direction: column;
    }
    
    .footer-top-left1 a{
        text-decoration: none;
        color: #FAF8F3;
        font-size: 4.1vw;
        font-weight: 100;
    }
    
    
    .footer-center{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2vw 3vw;
        margin-top: 5vh;
    }
    .footer-center-left{
        width: 78%;
        height: 100%;
    }
    .footer-center-left h3{
        color: #FAF8F3;
        font-size: 5.2vw;
        font-weight: 100;
    }
    
    .footer-center-right{
        width: 22%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .footer-center-right1{
        display: flex;
        flex-direction: column;
    }
    
    .footer-center-right1 a{
        text-decoration: none;
        color: #FAF8F3;
        font-size: 4.1vw;
    }
    
    .footer-bottom{
        display: flex;
        height: 100%;
        width: 100%;
        height: 35vh;
        text-align: center;
        align-items: center;
        overflow: hidden;
    }
    
    .footer-bottom h1{
        color: #FAF8F3;
        font-size: 28vw;
        font-weight: 200;
    }
    
}